<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cliente</title>
</head>
<body>
	<h1> Cargo todo el contenido de la base de datos</h1>
	<button id="dameTodos">Cargar Todos</button>
	<div id="tablaConTodos">
	</div>

	
	<h1>Pido un pokemon concreto</h1>
	<select id="listaPokemon">
		
	</select>
	<button id="dameUno">Cargar</button>
	<div id="listaConUno">
	</div>


	<h1>Inserto un nuevo pokemon</h1>
	<form id="formulario">
		<p>Nombre: <input type="text" id="nombre"></p>
		<p>Numero: <input type="number" id="numero"></p>
		<p>Tipo: <input type="text" id="tipo"></p>
		<p><input type="submit" name="Enviar">
	</form>


	<h1>Elimino un pokemon</h1>
	<select id="listaPokemonABorrar">
		
	</select>
	<button id="borrar">Borrar</button>

	<script type="text/javascript" src="codigo.js"></script>

</body>
</html>